---
title: chocoby.org
---

%header.pure-u-1.index
  %h1
    %a{ href: "/" } chocoby.org

.content.pure-u-1
  %section
    %h2 アカウント

    %ul
      %li
        Blog :
        = link_to_new_window "暇人じゃない", "http://hima-j.in"
      %li
        GitHub :
        = link_to_new_window "@chocoby", "https://github.com/chocoby"
      %li
        Twitter :
        = link_to_new_window "@cho_co", "https://twitter.com/cho_co"
      %li
        Flickr :
        = link_to_new_window "cho_co", "http://www.flickr.com/photos/cho_co"

  %section
    %h2 作ったもの

    %h3 Web サービス
    %ul
      %li
        = link_to_new_window "CurryBu", "http://currybu.com"
        \: 食べたカレーを共有するサービス

  %section
    %h3 ライブラリ(RubyGems)
    %ul
      %li
        = link_to_new_window "JpPrefecture", "https://rubygems.org/gems/jp_prefecture"
        \: 都道府県コードと都道府県名を相互に変換するライブラリ

  %section
    %h2
      %a{ href: "/skills" } スキル
